In [2]:
import pandas as pd

In [3]:
import numpy as np

In [16]:
df.head()

,Unnamed: 0,User ID,Name,Email
0,0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw
1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,Michael Deering,MD@gmail.com
2,2,a8229d24-f219-4930-a382-24049a8f73bb,Richard Bain,RB@gmail.com
3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,Kristi Mccarthy,KM@gmail.com
4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Betty Ellis,BE@gmail.com

In [18]:
df.isna()

     Unnamed: 0  User ID   Name  Email
0         False    False  False  False
1         False    False  False  False
2         False    False  False  False
3         False    False  False  False
4         False    False  False  False
..          ...      ...    ...    ...
495       False    False  False  False
496       False    False  False  False
497       False    False  False  False
498       False    False  False  False
499       False    False  False  False

[500 rows x 4 columns]

In [28]:
df.dropna()

,Unnamed: 0,User ID,Name,Email
0,0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw
1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,Michael Deering,MD@gmail.com
2,2,a8229d24-f219-4930-a382-24049a8f73bb,Richard Bain,RB@gmail.com
3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,Kristi Mccarthy,KM@gmail.com
4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Betty Ellis,BE@gmail.com
...,...,...,...,...
495,495,1f7e22c8-558a-4b6f-a04f-b219593f029e,Tracey Corbett,TC@gmail.com
496,496,0d47a133-383b-4a9c-976c-697ac65ccb19,Jennifer Mcintosh,JM@gmail.com
497,497,db0066e1-83cc-43f3-990b-983010aa5370,Marion Stecklein,MS@gmail.com
498,498,d6204684-926d-41db-ae9c-a7bf2e76313a,Jeffery Zerbe,JZ@gmail.com
499,499,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com

In [40]:
df["Email"].replace("SRkbabommpez","SR@gmail.com",inplace=True)

In [41]:
df["Email"].replace("GHbnuothhymw","GH@gmail.com",inplace=True)

In [42]:
df["Email"].replace("SHjcmuixgwni","SH@gmail.com",inplace=True)

In [43]:
df["Email"].replace("AFiobiqzxrfh","AF@gmail.com",inplace=True)

In [44]:
df["Email"].replace("RPbrxoephmar","RP@gmail.com",inplace=True)

In [45]:
df["Email"].replace("VTrgqcnsrvpx","VT@gmail.com",inplace=True)

In [46]:
df["Email"].replace("RMnemqyjpmju","RM@gmail.com",inplace=True)

In [47]:
df["Email"].replace("LMgovskansxq","LM@gmail.com",inplace=True)

In [48]:
df["Email"].replace("WBwvtnefwtig","WB@gmail.com",inplace=True)

In [49]:
LWsvedxnkdfr
df["Email"].replace("LSdtqsemuid","LS@gmail.com",inplace=True)

In [50]:
df["Email"].replace("BPssplwxufql","BP@gmail.com",inplace=True)

In [51]:
df["Email"].replace("LWsvedxnkdfr","LW@gmail.com",inplace=True)

In [57]:
df["Email"].replace("GHbnuothhymw@gmail.com","GH@gmail.com",inplace=True)

In [66]:
df["Email"].replace("VTrgqcnsrvpx@gmail.com","VT@gmail.com",inplace=True)

In [65]:
df["Email"].replace("RPbrxoephmar@gmail.com","RP@gmail.com",inplace=True)

In [67]:
df["Email"].unique()

array(['GH@gmail.com', 'MD@gmail.com', 'RB@gmail.com', 'KM@gmail.com',
       'BE@gmail.com', 'HN@gmail.com', 'KH@gmail.com', 'CP@gmail.com',
       'CS@gmail.com', 'DS@gmail.com', 'JH@gmail.com', 'EB@gmail.com',
       'WC@gmail.com', 'DB@gmail.com', 'VT@gmail.com', 'GA@gmail.com',
       'TM@gmail.com', 'SC@gmail.com', 'ML@gmail.com', 'JP@gmail.com',
       'DH@gmail.com', 'KF@gmail.com', 'CM@gmail.com', 'KJ@gmail.com',
       'RL@gmail.com', 'PP@gmail.com', 'AP@gmail.com', 'EH@gmail.com',
       'RC@gmail.com', 'RD@gmail.com', 'YB@gmail.com', 'BC@gmail.com',
       'MJ@gmail.com', 'CG@gmail.com', 'DE@gmail.com', 'JR@gmail.com',
       'JC@gmail.com', 'SL@gmail.com', 'LF@gmail.com', 'BP@gmail.com',
       'DC@gmail.com', 'JO@gmail.com', 'RW@gmail.com', 'LL@gmail.com',
       'JJ@gmail.com', 'LM@gmail.com', 'DP@gmail.com', 'EV@gmail.com',
       'GS@gmail.com', 'GF@gmail.com', 'EP@gmail.com', 'JN@gmail.com',
       'RN@gmail.com', 'AW@gmail.com', 'RH@gmail.com', 'NG@gmail.com',
       'MC@gmail.com', 'MH@gmail.com', 'MG@gmail.com', 'WS@gmail.com',
       'LZ@gmail.com', 'NH@gmail.com', 'SD@gmail.com', 'EK@gmail.com',
       'ES@gmail.com', 'MK@gmail.com', 'DV@gmail.com', 'OG@gmail.com',
       'KR@gmail.com', 'RM@gmail.com', 'BB@gmail.com', 'WH@gmail.com',
       'AB@gmail.com', 'TC@gmail.com', 'CH@gmail.com', 'RS@gmail.com',
       'AO@gmail.com', 'IC@gmail.com', 'BA@gmail.com', 'SE@gmail.com',
       'TG@gmail.com', 'MT@gmail.com', 'SJ@gmail.com', 'DO@gmail.com',
       'PN@gmail.com', 'MM@gmail.com', 'MR@gmail.com', 'EL@gmail.com',
       'WG@gmail.com', 'JM@gmail.com', 'LJ@gmail.com', 'SH@gmail.com',
       'GT@gmail.com', 'JB@gmail.com', 'LK@gmail.com', 'ER@gmail.com',
       'GJ@gmail.com', 'JA@gmail.com', 'AR@gmail.com', 'TW@gmail.com',
       'SBhcjcholecn', 'PD@gmail.com', 'HS@gmail.com', 'LG@gmail.com',
       'MS@gmail.com', 'DW@gmail.com', 'JY@gmail.com', 'NN@gmail.com',
       'AJ@gmail.com', 'WP@gmail.com', 'DJ@gmail.com', 'GG@gmail.com',
       'BN@gmail.com', 'RU@gmail.com', 'MP@gmail.com', 'KE@gmail.com',
       'OS@gmail.com', 'RT@gmail.com', 'SP@gmail.com', 'MW@gmail.com',
       'HA@gmail.com', 'SG@gmail.com', 'TV@gmail.com', 'AD@gmail.com',
       'GC@gmail.com', 'TS@gmail.com', 'ST@gmail.com', 'LW@gmail.com',
       'KP@gmail.com', 'AE@gmail.com', 'CW@gmail.com', 'SB@gmail.com',
       'CR@gmail.com', 'HH@gmail.com', 'MV@gmail.com', 'GW@gmail.com',
       'DM@gmail.com', 'LR@gmail.com', 'KD@gmail.com', 'CT@gmail.com',
       'AC@gmail.com', 'VC@gmail.com', 'WB@gmail.com', 'TH@gmail.com',
       'BS@gmail.com', 'HT@gmail.com', 'AM@gmail.com', 'OM@gmail.com',
       'FP@gmail.com', 'PW@gmail.com', 'AL@gmail.com', 'ZS@gmail.com',
       'JT@gmail.com', 'EC@gmail.com', 'LP@gmail.com', 'JE@gmail.com',
       'SA@gmail.com', 'AY@gmail.com', 'MA@gmail.com', 'AI@gmail.com',
       'HL@gmail.com', 'IB@gmail.com', 'BM@gmail.com', 'PM@gmail.com',
       'DG@gmail.com', 'VH@gmail.com', 'HE@gmail.com', 'MB@gmail.com',
       'KC@gmail.com', 'RV@gmail.com', 'CC@gmail.com', 'JW@gmail.com',
       'DT@gmail.com', 'VB@gmail.com', 'BL@gmail.com', 'ET@gmail.com',
       'CN@gmail.com', 'ME@gmail.com', 'WL@gmail.com', 'RJ@gmail.com',
       'BW@gmail.com', 'AF@gmail.com', 'HF@gmail.com', 'RK@gmail.com',
       'SW@gmail.com', 'MN@gmail.com', 'WT@gmail.com', 'PG@gmail.com',
       'BD@gmail.com', 'CD@gmail.com', 'TR@gmail.com', 'JS@gmail.com',
       'MI@gmail.com', 'EN@gmail.com', 'DK@gmail.com', 'RP@gmail.com',
       'EG@gmail.com', 'DI@gmail.com', 'MF@gmail.com', 'JK@gmail.com',
       'HW@gmail.com', 'HM@gmail.com', 'PO@gmail.com', 'DR@gmail.com',
       'CB@gmail.com', 'NB@gmail.com', 'VF@gmail.com', 'EJ@gmail.com',
       'TJ@gmail.com', 'DA@gmail.com', 'KT@gmail.com', 'HC@gmail.com',
       'BF@gmail.com', 'CK@gmail.com', 'PB@gmail.com', 'JL@gmail.com',
       'EF@gmail.com', 'JD@gmail.com', 'RR@gmail.com', 'DF@gmail.com',
       'RO@gmail.com', 'AK@gmail.com', 'LH@gmail.com', 'FW@gmail.com',
       'AG@gmail.com', 'PR@gmail.com', 'GL@gmail.com', 'GR@gmail.com',
       'PJ@gmail.com', 'SF@gmail.com', 'FB@gmail.com', 'SY@gmail.com',
       'EA@gmail.com', 'LSdtqsemuido', 'JG@gmail.com', 'AS@gmail.com',
       'WN@gmail.com', 'KL@gmail.com', 'OA@gmail.com', 'HB@gmail.com',
       'OK@gmail.com', 'DN@gmail.com', 'SR@gmail.com', 'IM@gmail.com',
       'EM@gmail.com', 'JZ@gmail.com'], dtype=object)

In [71]:
df.dtypes

Unnamed: 0     int64
User ID       object
Name          object
Email         object
dtype: object

In [74]:
df["Unnamed: 0"].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499])

In [6]:
import os

In [11]:
os.chdir("/Users/mennatullahalsoudi/Downloads")

In [13]:
os.getcwd

In [14]:
df=pd.read_csv("Content (1)-1.csv")

In [15]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [18]:
df.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [21]:
df["URL"].isna().sum()

199

In [23]:
df.dropna(inplace=True)

In [24]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [26]:
df.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
URL           0
dtype: int64

In [53]:
df.drop("Type",axis=1)

,Unnamed: 0,Content ID,User ID,Category
789,789,6912f8e6-86b7-44f6-8aa8-c21c2ed0b53c,e6a52b6a-20ec-4b09-bbb7-4a1138014985,food
278,278,ac120787-f331-497f-8733-7cd63dfd36b6,eb74e88c-1bf5-402f-987e-90a5977ae1e3,culture
794,794,1bbfe52f-37e2-4874-8422-161a60b331e1,9ce133df-bd87-4559-96d7-a402add824ca,culture
286,286,6fc7f722-0a93-4420-8376-09d6536ecef8,db392b86-6ba5-4a9b-933a-a2553488bb62,fitness
287,287,1601a6f1-4b94-44ed-b9a1-6f64a1a82e9a,eff1e86a-8ede-4a41-818b-9442e3181ee3,fitness
...,...,...,...,...
326,326,915505a1-6d75-4894-8200-0f088c19431b,a710ab29-b72a-42c8-a79b-42e63d4a8bfd,cooking
324,324,4e659bd8-44b6-41a3-893c-c528474a29c9,e8849148-1482-4926-9f28-a537630b9ba2,education
779,779,f65dbde9-c8dc-4851-927e-964fa2e0908a,a6f003be-b0fd-4100-b4cc-f568a21b9745,education
782,782,5bf45fd3-6b4b-400c-a126-31b8576e1d70,80c36ce2-2cef-4a47-a563-d2a60a2b1825,tennis
499,499,af373863-f9df-4330-b423-d2b802b30d6e,b473e898-b7b0-4a57-959d-484bf4cc4483,food

In [30]:
df.loc[206]

Unnamed: 0                                                  206
Content ID                 58059956-4cde-4671-9baf-904851731540
User ID                    1582dac6-ebec-43ed-a34a-1a202ca72627
Type                                                      audio
Category                                              education
URL           https://socialbuzz.cdn.com/content/storage/580...
Name: 206, dtype: object

In [31]:
df.loc[200:, 'Type'].head(30)

201      GIF
202    audio
203    audio
204      GIF
206    audio
207    photo
208    video
209      GIF
211    video
212      GIF
213    photo
214      GIF
216      GIF
217    video
218    audio
219    video
221    video
222    audio
223    audio
224      GIF
226    video
227    photo
228    photo
229    audio
231      GIF
232      GIF
233    video
234    video
236      GIF
237    audio
Name: Type, dtype: object

In [32]:
df.loc[200:, 'Category'].head(30)

201               food
202             travel
203             travel
204            animals
206          education
207           veganism
208            animals
209           veganism
211            fitness
212          education
213    public speaking
214            cooking
216               food
217             tennis
218            animals
219               dogs
221            fitness
222     healthy eating
223            culture
224            fitness
226     healthy eating
227             travel
228            fitness
229           studying
231            fitness
232     healthy eating
233           veganism
234            cooking
236            fitness
237           veganism
Name: Category, dtype: object

In [33]:
df["Type"].unique()

array(['photo', 'video', 'audio', 'GIF'], dtype=object)

In [34]:
 s = pd.Series(["audio", "photo", "GIF", "video"], dtype="category")

In [38]:
df.sort_values(by=["Type"],inplace=True)

In [54]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Category
789,789,6912f8e6-86b7-44f6-8aa8-c21c2ed0b53c,e6a52b6a-20ec-4b09-bbb7-4a1138014985,GIF,food
278,278,ac120787-f331-497f-8733-7cd63dfd36b6,eb74e88c-1bf5-402f-987e-90a5977ae1e3,GIF,culture
794,794,1bbfe52f-37e2-4874-8422-161a60b331e1,9ce133df-bd87-4559-96d7-a402add824ca,GIF,culture
286,286,6fc7f722-0a93-4420-8376-09d6536ecef8,db392b86-6ba5-4a9b-933a-a2553488bb62,GIF,fitness
287,287,1601a6f1-4b94-44ed-b9a1-6f64a1a82e9a,eff1e86a-8ede-4a41-818b-9442e3181ee3,GIF,fitness

In [55]:
rows = df.shape[0]
cols = df.shape[1]

In [56]:
print(rows)
print(cols)

801
5

In [57]:
df=pd.read_csv("Content (1)-1.csv")

In [58]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [61]:
df.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [64]:
df.drop("URL",axis=1,inplace=True)

In [65]:
df.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [77]:
df.sort_values("Unnamed: 0",ascending =True,inplace=True)

In [78]:
df.to_csv("Content (1)-1.csv" )

In [89]:
df.drop([950], axis=0,inplace=True)
df.head(952)

,Unnamed: 0,Content ID,User ID,Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food
...,...,...,...,...,...
947,947,6547f69d-891d-4e1c-bd69-fc8735b8fca8,fd4da61a-5102-4311-8b9f-2ec57bfac6b1,video,science
948,948,235a0022-a683-4381-8e9e-aaf75fe90734,561b08d6-1084-4115-933d-db3e60edfd8b,photo,fitness
949,949,21dfb75d-9d98-4627-b074-f4372025d23f,e6a52b6a-20ec-4b09-bbb7-4a1138014985,GIF,culture
951,951,46ebc5f2-bfe8-4ada-aed3-6265842bd1f3,cb97b0ea-fc93-4597-b391-846710c6fedc,video,food
952,952,b70813e7-8acd-462a-9b13-6d1258030fed,766886c9-a63a-4446-bb4a-07d611b3b212,video,animals